{extend name="public/base" /}

{block name="title"}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DouPHP 管理中心 - 货品添加 </title>
<meta name="Copyright" content="Douco Design." />
<link href="/static/admin/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
{/block}

{block name="body"}

<script>
	$(function () {
		$(document).on("click",".clone",function(){
			var a=$(this).parents("tr");
			var next= a.clone(true);
			a.after(next);//复制当前点击的节点，并将它追加到《ul》元素中，当添加参数时复制它的事件
			next.find("a").html("[-]").attr("class","delete");
			var tr_num = $("tr").size();
			next.find("select").attr("name","attr_name["+tr_num+"][goods_attr][]");
			next.find("input[name='attr_name[0][product_sn]']").attr("name","attr_name["+tr_num+"][product_sn]");
			next.find("input[name='attr_name[0][product_num]']").attr("name","attr_name["+tr_num+"][product_num]");
		});
		$(document).on("click",".delete",function(){
			$(this).parents("tr").remove();
			//复制当前点击的节点，并将它追加到《ul》元素中，当添加参数时复制它的事件
		});
		})
</script>
<div id="dcMain">
	<!-- 当前位置 -->
	<div id="urHere">DouPHP 货品管理<b>></b><strong>货品添加</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
	<h3><a href="{:url('index')}?goods_id={$goods_id}" class="actionBtn">货品列表</a>货品添加</h3>

	<form action="" method="post">
			<table width="100%" border="0" cellpadding="8" cellspacing="0" id="ab"  class="tableBasic">
				<tr>
					<td><a href='javascript:;' class='clone'>[+]</a>
					{foreach $attr as $key=>$val }
					<td width="240px">{$key}：
					<select name="attr_name[0][goods_attr][]" id="">
						<option value="0">--请选择--</option>
						{foreach $val as $k1=>$v1}
						<option value="{$k1}">{$v1}</option>
						{/foreach}
					</select>
				</td>
					{/foreach}
					<td>货号 <input type="text" name="attr_name[0][product_sn]" value=""> </td>
					<td>货品库存 <input type="text" name="attr_name[0][product_num]" value=""> </td>
				</tr>
			</table>
			<div align="center">
				<br><br>
			<input class="btn" type="submit" id="sure" value="添加" />
			</div>
	</form>
	</div>
</div>
{/block}









