{extend name="public/base" /}
{block name="title"}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DouPHP 管理中心 - 角色管理 </title>
<meta name="Copyright" content="Douco Design." />
<link href="/static/admin/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
{/block}

{block name="body"}
<div id="dcMain">
 <!-- 当前位置 -->
 <div id="urHere">DouPHP 管理中心<b>></b><strong>添加管理员</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
 <h3><a href="{:url('index')}" class="actionBtn">管理员展示</a>添加管理员</h3>
 <form action="" method="post">
  <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
   <tr>
    <td width="80" align="right">管理员名称</td>
    <td>
     <input type="text" name="admin_name" value="" size="40" class="inpMain" />
    </td>
   </tr>
   <tr>
    <td width="80" align="right">管理员密码</td>
    <td>
     <input type="text" name="admin_pwd" value="" size="40" class="inpMain" />
    </td>
   </tr>
   <tr>
    <td width="80" align="right">确认密码</td>
    <td>
     <input type="text" name="admin_repwd" value="" size="40" class="inpMain" />
    </td>
    </tr>
   <tr>
    <td width="80" align="right">选择角色</td>
    <td>
     {volist name="roles" id="vo" }
     <input type="checkbox" name="admin_role[]" value="{$vo.role_name}" size="40"  />{$vo.role_name}
     {/volist}
    </td>
   </tr>

   <tr>
    <td></td>
    <td>
     <input type="hidden" name="token" value="b9439ae8" />
     <input type="hidden" name="admin_id" value="" />
     <input name="submit" class="btn" type="submit" value="提交" />
    </td>
   </tr>
  </table>
 </form>
</div>
</div>
<div class="clear"></div>
{/block}
