{extend name="public/base" /}

{block name="title"}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>DouPHP 管理中心 - 商品添加 </title>
<meta name="Copyright" content="Douco Design." />
<link href="/static/admin/css/public.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
{/block}

{block name="body"}
<!--日期引入-->
{load href="/static/date/jquery-1.11.0.min.js" /}
{load href="/static/date/jquery-ui.css" /}
{load href="/static/date/jquery-ui-1.10.4.custom.min.js" /}
{load href="/static/date/jquery.ui.datepicker-zh-CN.js" /}
{load href="/static/date/jquery-ui-timepicker-addon.js" /}
{load href="/static/date/jquery-ui-timepicker-zh-CN.js" /}
<!--日期引入结束-->
<!--编辑器引入-->
{load href="/static/admin/js/kindeditor/themes/default/default.css" /}
{load href="/static/admin/js/kindeditor/plugins/code/prettify.css" /}
{load href="/static/admin/js/kindeditor/kindeditor.js" /}
{load href="/static/admin/js/kindeditor/lang/zh_CN.js" /}
{load href="/static/admin/js/kindeditor/plugins/code/prettify.js" /}
<script>
	KindEditor.ready(function(K) {
		var editor1 = K.create('textarea[name="content"]', {
			cssPath : '../plugins/code/prettify.css',
			uploadJson : '../php/upload_json.php',
			fileManagerJson : '../php/file_manager_json.php',
			allowFileManager : true,
			afterCreate : function() {
				var self = this;
				K.ctrl(document, 13, function() {
					self.sync();
					K('form[name=example]')[0].submit();
				});
				K.ctrl(self.edit.doc, 13, function() {
					self.sync();
					K('form[name=example]')[0].submit();
				});
			}
		});
		prettyPrint();
	});
</script>

<!--编辑器引入结束-->
<style>
	.aa{
		background: #fffff0;
	}
	.aa span{
		background: #FFFFFF;
		font-size: large;
		margin: 30px;

	}
</style>
<script>
	$(function () {
		$("input[name=auto_thumb]").change(function(){
			var val=$(this).val();
			if(val==1){
				$("input[name=goods_thumb]").prop("disabled",false);
				var val=$(this).val(0);
			}else{
				$("input[name=goods_thumb]").prop("disabled",true);
				var val=$(this).val(1);
			}
		});
		$("input[name=promote_status]").change(function(){
			var val=$(this).val();
			if(val==1){
				$(".cheap").prop("disabled",true);
				var val=$(this).val(0);
			}else{
				$(".cheap").prop("disabled",false);
				var val=$(this).val(1);
			}
		});
		$(document).ready(function () {
			$("#ac").hide(0);
			$("#ad").hide(0);
			$("#ae").hide(0);
			$("#af").hide(0);
			$("#aa").click(function () {
				$("#ab").show();
				$("#ac").hide(0);
				$("#ad").hide(0);
				$("#ae").hide(0);
				$("#af").hide(0);
			});
			$("#bb").click(function () {
				$("#ab").hide(0);
				$("#ac").show();
				$("#ad").hide(0);
				$("#ae").hide(0);
				$("#af").hide(0);
			});
			$("#cc").click(function () {
				$("#ab").hide(0);
				$("#ac").hide(0);
				$("#ad").show();
				$("#ae").hide(0);
				$("#af").hide(0);
			});
			$("#dd").click(function () {
				$("#ab").hide(0);
				$("#ac").hide(0);
				$("#ad").hide(0);
				$("#ae").show();
				$("#af").hide(0);
			});
			$("#ee").click(function () {
				$("#ab").hide(0);
				$("#ac").hide(0);
				$("#ad").hide(0);
				$("#ae").hide(0);
				$("#af").show();
			});
		});
		$(document).on("click",".clone",function(){
			var a=$(this).parents("tr").clone(true);
			a.find("a").html("[-]").attr("class","delete");
			a.insertAfter($(this).parents("tr"));//复制当前点击的节点，并将它追加到《ul》元素中，当添加参数时复制它的事件
		});
		$(document).on("click",".delete",function(){
			$(this).parents("tr").remove();
			//复制当前点击的节点，并将它追加到《ul》元素中，当添加参数时复制它的事件
		});
		$("select[name='type_id']").change(function(){
			var type_id=$(this).val();
			$.ajax({
				type: "post",
				url: "{:url('ajax')}",
				dataType: "json",
				data: {
					type_id: type_id
				},
				success:function(data){
					html="";
					if(data.status == 1){
						$.each(data.attrs, function (k, v){
							if(v.attr_input_type==1){
								if(v.attr_type==1){
									html+="<tr><td><a href='javascript:;' class='clone'>[+]</a>"+v.attr_name+"</td>";
									html+="<td><input type='text' name='attr_select' value='' size='40'>属性价格 <input type='text' name='attr_price_list[]' value='' size='5' maxlength='10'></td></tr>"
								}else{
									html+="<tr><td>"+v.attr_name+"</td>";
									html+="<td><input type='text' name='attr_select'></td></tr>"
								}

							}else{
								html+="<tr><td>"+v.attr_name+"</td>";
								html+="<td>";
								html+="<select name='attr_select'>";
								$.each(v.attr_select, function (k1, v1){
									html+="<option value='"+v1+"'>"+v1+"</option>"
								});
								html+="</select></td></tr>"
							}
						});
					}
					$(".attr").html(html);
				}
			})
		})

		})
</script>
<div id="dcMain">
	<!-- 当前位置 -->
	<div id="urHere">DouPHP 属性管理<b>></b><strong>商品添加</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
	<h3><a href="{:url('index')}" class="actionBtn">商品列表</a>商品添加</h3>
	<p class="aa">
		<span id="aa">通用信息</span>
		<span id="bb">详细描述</span>
		<span id="cc">其他信息</span>
		<span id="dd">商品属性</span>
		<span id="ee">商品相册</span>
	</p>
	<form action="" method="post" enctype="multipart/form-data">
			<!--通用信息-->
			<table width="100%" border="0" cellpadding="8" cellspacing="0" id="ab"  class="tableBasic">
				<tr>
					<td width="120px">商品名称：</td>
					<td><input type="text" name="goods_name" value="" size="30"><span class="require-field">*</span></td>
				</tr>
				<tr>
					<td class="label">商品货号： </td>
					<td><input type="text" name="sn_id" value="" size="20" onblur="checkGoodsSn(this.value,'32')"><span id="goods_sn_notice"></span><br>
						<span class="notice-span" style="display:block" id="noticeGoodsSN">如果您不输入商品货号，系统将自动生成一个唯一的货号。</span></td>
				</tr>
				<tr>
					<td class="label">商品分类：</td>
					<td>
						<select name="cate_pid" id="">
							<option value="0">--请选择分类--</option>
							{foreach $cates as $key=>$vo }
							<option value="{$vo.cate_id}">{$vo.level|str_repeat="---",###}{$vo.cate_name}</option>
							{/foreach}
						</select>
					</td>
				</tr>
				<tr>
					<td class="label">商品品牌：</td>
					<td>
						<select name="brand_id" onchange="hideBrandDiv()">
							<option value="0">--请选择品牌--</option>
							{foreach $brands as $key=>$vo }
							<option value="{$vo.brand_id}">{$vo.brand_name}</option>
							{/foreach}
						</select>
					</td>
				<tr>
					<td class="label">本店售价：</td>
					<td><input type="text" name="goods_price" value="" size="20" onblur="priceSetted()">
						<input type="button" value="按市场价计算" onclick="marketPriceSetted()">
						<span class="require-field">*</span></td>
				</tr>
				<tr>
					<td class="label">会员价格：</td>
					<td><input type="text" name="user_price" value="" size="20" onblur="priceSetted()"></td>
				</tr>

				<tr>
					<td class="label">市场售价：</td>
					<td><input type="text" name="market_price" value="" size="20">
						<input type="button" value="取整数" onclick="integral_market_price()">
					</td>
				</tr>

				<tr>
					<td class="label"><label for="is_promote"><input type="checkbox" id="is_promote" name="promote_status" value="1" checked="checked"> 促销价：</label></td>
					<td id="promote_3"><input type="text" id="promote_1" name="promote_price" class="cheap" value="" size="20"></td>
				</tr>
				<tr id="promote_4">
					<td class="label" id="promote_5">促销日期：</td>
					<td>
						<input name="act_start_time" type="text" class="text-box" value="" placeholder="开始时间≥当前时间" title="开始时间≥当前时间" readonly="readonly" style="cursor:pointer;"/>
						<input name="act_stop_time" type="text" class="text-box" value="" placeholder="结束时间>开始时间" title="结束时间>开始时间" readonly="readonly" style="cursor:pointer;"/>
					</td>
				</tr>
				<tr>
					<td class="label">上传商品图片：</td>
					<td>
						<input type="file" name="goods_img" size="35">
					</td>
				</tr>
				<tr id="auto_thumb_1">
					<td class="label"> 上传商品缩略图：</td>
					<td id="auto_thumb_3">
						<input type="file" name="goods_thumb" size="35" >
						<br><label for="auto_thumb"><input type="checkbox" id="auto_thumb" name="auto_thumb" value="0">自动生成商品缩略图</label>            </td>
				</tr>
			</table>
			<!-- 详细描述 -->

		<table width="100%" border="0" cellpadding="8" cellspacing="0" id="ac"  class="tableBasic">
					<td align="right" valign="top">商品描述</td>
					<td>

						<textarea id="content" name="goods_content" style="width:780px;height:400px;" class="textArea"></textarea>
					</td>
				</tr>
					</table>

			<!-- 其他信息 -->
		<table width="100%" border="0" cellpadding="8" cellspacing="0" id="ad"  class="tableBasic">
<tr>
	<td class="label">商品重量：</td>
	<td><input type="text" name="goods_weigh" value="" size="20"> <select name="weight_unit"><option value="1">千克</option><option value="0.001" selected="">克</option></select></td>
</tr>
<tr>
	<td class="label"> 商品库存数量：</td>
	<td><input type="text" name="goods_num" value="" size="20"><br>
</tr>
<tr>
	<td class="label">库存警告数量：</td>
	<td><input type="text" name="goods_warn_num" value="" size="20"></td>
</tr>
<tr>
	<td class="label">加入推荐：</td>
	<td><input type="checkbox" name="goods_best" value="1">精品 <input type="checkbox" name="goods_new" value="1" >新品 <input type="checkbox" name="goods_hot" value="1">热销</td>
</tr>
<tr id="alone_sale_1">
	<td class="label" id="alone_sale_2">上架：</td>
	<td id="alone_sale_3"><input type="checkbox" name="goods_status" value="1"> 打勾表示允许销售，否则不允许销售。</td>
</tr>
<tr>
	<td class="label">能作为普通商品销售：</td>
	<td><input type="checkbox" name="goods_alone_sale" value="1"> 打勾表示能作为普通商品销售，否则只能作为配件或赠品销售。</td>
</tr>
<tr>
	<td class="label">是否为免运费商品</td>
	<td><input type="checkbox" name="goods_fare" value="1"> 打勾表示此商品不会产生运费花销，否则按照正常运费计算。</td>
</tr>
<tr>
	<td class="label">商品关键词：</td>
	<td><input type="text" name="goods_keywords" value="" size="40"> 用逗号分隔</td>
</tr>
<tr>
	<td class="label">商品简单描述：</td>
	<td><textarea name="goods_des" cols="40" rows="3"></textarea></td>
</tr>
<tr>
	<td class="label">
		<a href="javascript:showNotice('noticeSellerNote');" title="点击此处查看提示信息"><img src="/static/admin/goods/images/notice.gif" width="16" height="16" border="0" alt="点击此处查看提示信息"></a> 商家备注： </td>
	<td><textarea name="seller_note" cols="40" rows="3"></textarea><br>
		<span class="notice-span" style="display:block" id="noticeSellerNote">仅供商家自己看的信息</span></td>
</tr>
</table>
		<!-- 商品属性 -->
		<table width="100%" border="0" cellpadding="8" cellspacing="0" id="ae"  class="tableBasic">
			<tr>
				<td class="label" width="120px">商品类型：</td>
				<td>
					<select name="type_id">
						<option value="">--请选择类型--</option>
						{foreach $types as $key=>$vo }
						<option value="{$vo.type_id}">{$vo.type_name}</option>
						{/foreach}
					</select>
				</td>
			</tr>

			<tbody class="attr"></tbody>
		</table>
		<!-- 商品相册 -->
		<table width="100%" border="0" cellpadding="8" cellspacing="0" id="af"  class="tableBasic">

<tr>
	<td>
		<div id="gallery_41" style="float:left; text-align:center; border: 1px solid #DADADA; margin: 4px; padding:2px;">
			<a href="javascript:;" onclick="if (confirm('您确实要删除该图片吗？')) dropImg('41')">[-]</a><br>
			<a href="goods.php?act=show_image&amp;img_url=images/200905/goods_img/32_P_1242110760641.jpg" target="_blank">
				<img src="../images/200905/thumb_img/32_thumb_P_1242110760997.jpg" width="100" height="100" border="0">
			</a><br>
			<input type="text" value="" size="15" name="old_img_desc[41]">
		</div>
	</td>
</tr>
<tr><td>&nbsp;</td></tr>
<tr>
	<td>
		<a href="javascript:;" onclick="addImg(this)">[+]</a>
		图片描述 <input type="text" name="img_desc[]" size="20">
		上传文件 <input type="file" name="img_url[]">
		<input type="text" size="40" value="或者输入外部图片链接地址" style="color:#aaa;" onfocus="if (this.value == '或者输入外部图片链接地址'){this.value='http://';this.style.color='#000';}" name="img_file[]">
	</td>
</tr>
</table>


			<div align="center">
				<input type="hidden" name="goods_id" value="32">
				<input type="button" value=" 确定 " class="btn" onclick="validate('32')">
				<input type="reset" value=" 重置 " class="btn">
			</div>
			<input type="hidden" name="act" value="update">

		</form>
	</div>
</div>
<script type="text/javascript">$( "input[name='act_start_time'],input[name='act_stop_time']" ).datetimepicker();</script>
{/block}









