<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台登录</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/login/css/style.css" />
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src=/static/login/js/jquery.js"></script>
<script src="/static/login/js/verificationNumbers.js"></script>
<script src="/static/login/js/Particleground.js"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
  //验证码
  createCode();
  //测试提交，对接程序删除即可
  $(".submit_btn").click(function(){
	  location.href="index.html";
	  });
});
</script>
</head>
<body>
<dl class="admin_login">
    <dt>
        <strong>站点后台管理系统</strong>
        <em>Management System</em>
    </dt>
    <form action="" method="post">
        <dd class="user_icon">
            <input type="text" placeholder="账号" name="admin.name" class="login_txtbx"/>
        </dd>
        <dd class="pwd_icon">
            <input type="password" placeholder="密码" name="admin.pwd" class="login_txtbx"/>

        </dd>
        <dd class="pwd_icon">
            <input type="text" placeholder="验证码" name="code" class="login_txtbx"/>
        </dd>
        <div>{:captcha_img()}</div>
        <dd>
            <input type="checkbox" name="save" value="1" id="">记住密码，七天无密码登录
        </dd>
        <dd>
            <input type="submit" value="登陆" class="submit_btn"/>
        </dd>

    </form>

    <dd>
        <p>© 2015-2016 DeathGhost 版权所有</p>
        <p>陕B2-20080224-1</p>
    </dd>
</dl>
</body>
</html>
